<%- include header.ejs %>
<%- include main_nav.ejs %>
 

  <!--Main section-->
  <main class="container">
    <div class="jumbotron">
    <h2 class="display-5">About Me</h2><br><br><br><br><br><br><br><br>

    <div>
      <div id="about-profile" class="col-11">
          <div class="about-myprofile">
              <div class="mypicture"><img src=""></div>
          </div>
          <div class="about-introduce">
              <span class="introduce-name">Hi, I'm Marco Paolo Santos.</span><br/>
              An <b>IT </b> from the Philippines.<br/>
             I took Bachelor of Science in Information Technology in a Philippine University. <br> Currently, I'm studying at Centennial College as and taking up Software Engineering Technician.<br/>
             I enjoy coding using Object Oriented Programming Languages. <br> I am also start liking the web designing using node.js.
              <br><br><span class="text-highlight resume"><a href="">

                <i class="fas fa-file"></i>Click here to view my Resume.</a></span><br>
                <span class="text-highlight resume"><a href="">
                <i class="fab fa-linkedin"></i>Click here to view my Linkedin Profile</a></span><br>
                <span class="text-highlight resume"><a href="">
                <i class="fab fa-facebook-square"></i>Click here to View my Facebook Page


          </div>
      </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
    </div>

    <!--<div id="/about" class="container">
      <div id="about-wrapper">
          
      </div>-->
      

    </main>
 


<%- include bottom_nav.ejs %>
<%- include footer.ejs %>