<!--Bottom Nav-->
<footer>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h4 class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved</h4>
      </div>
    </nav>

  </footer>