<!--Bottom Nav-->
<footer>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <span><h6 class="display-6 navbar-text">&copy; 2021. Christina May Pakingan. All Rights Reserved</h6></span>
      </div>
    </nav>

  </footer>