<%- include header.ejs %>
<%- include main_nav.ejs %>
 

  <!--Main section-->
<main class="container">
  <div class="jumbotron">
<h2 class="display-5">Welcome to My Portfolio</h2>


<div class="container-fluid">
  <div id="home" class="align-items-center">
      <div class="row homerow" >
          <div id="hometext" class="col-lg-10 mx-auto text-center">
              
              <p class="mx-auto" id="mission"><i>Hi, my name is Christina May Pakingan.<br><br>
                My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor and some style.<br><br>
              If you want to know more about me, start by clicking the button below:</i></p>      
          </div>
      </div>
      <!--btn to aboutme-->
    <div id="startbtn" class="row">
        <div id="viewworksbtn" class="col btn btn-lg">
            <a href="/about">About Me</a>
        </div>
    </div>
</div>
</div>
</div>


</main>

  <!--HOME-->
  

 


<%- include bottom_nav.ejs %>
<%- include footer.ejs %>