<%- include header.ejs %>
<%- include main_nav.ejs %>
 
  <!--Main section-->
<main class="container">
  
  <main class="container">
    <div class="jumbotron">
    <h2 class="display-5">My Projects</h2><br>


    <div id="projects" class="container">
      <div class="projectbg"></div>
  
        <!--contents-->
        <div class="row">
            <div class="col">
            <div class="card h-100">
                <img src="/Assets/images/proj1.jpg" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">Website Creation</h5>
                <p class="card-text">Using CSS, HTML5 and Web Expression. It is a simple client website that showcase their portfolio.  </p>
                <a href="http://studentweb.cencol.ca/msanto64/TermProject_Marco/termproject.html" class="btn">View Website</a>  
                   
            </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <img src="/Assets/images/proj2.png" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Restaurant Website</h5>
                <p class="card-text">Using HTML, CSS3, JavaScript, Ajax and jason. It is a website where a customer can view the restaurant menu, location and contact information. It also showcase a simple calculator for the order computation.</p>
                <a href="http://studentweb.cencol.ca/msanto64/COMP125_Assignment4_Marco/Membership.html" class="btn">View Website</a> 
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <img src="/Assets/images/proj3.jpg" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Online Survey</h5>
                <p class="card-text">Using Web Expression, CSS3, JavaScript. A simple online survey intended to multiple respondents.</p>
                <a href="http://studentweb.cencol.ca/msanto64/COMP213_Assignment4_Marco/Assignment4.html" class="btn">View Website</a> 
                </div>
            </div>
            </div>
        </div>  
    </div>
</div>
    </div>

     
</main>
 


<%- include bottom_nav.ejs %>
<%- include footer.ejs %>