<%- include header.ejs %>
<%- include main_nav.ejs %>
 

  <!--Main section-->
<main class="container">
  <main class="container">
    <div class="jumbotron">
    <h2 class="display-5">My Services</h2><br><br>


      <!--first one-->
      <div class="card" >
          <div class="row g-12 service_card">
            <div class="col-md-6">
              <img src="/Assets/images/webdesign.jpg" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body"><br><br><br><br><br><br><br>
                <h5 class="card-title text-highlight">Web Design | Website Creation</h5>
                <h6 class="card-text">Whether a personal, business or a company website, I can help you conceptualize, build and maintain a website based on your requirements. </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- second one-->
        <div class="card card2" >
          <div class="row g-12 service_card_2">
            <div class="col-md-6">
              <div class="card-body"><br><br><br><br><br>
                <h5 class="card-title text-highlight">Programming Tutorial</h5>
                <p class="card-text">If you need assistance in coding especially using Object Oriented Programming, I can definitely be of help. I am very passionate in teaching and  I enjoy coding more than anything else. </p>
              </div>
            </div>
            <div class="col-md-6">
              <img src="/Assets/images/prog.jpeg" alt="...">
            </div>
          </div>
        </div>
    </div>
    </div>
</main>
 


<%- include bottom_nav.ejs %>
<%- include footer.ejs %>